<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FooBar Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="1_overview.html">Overview</a>
      </li>
      <li>
        <a href="2_actors_and_transactions.html">Actors and Transactions</a>
      </li>
      <li>
        <a href="3_security_considerations.html">Security Considerations</a>
      </li>
      <li>
        <a href="4_grouping.html">Cross Profile Considerations</a>
      </li>
      <li>
        <a href="5_testplan.html">Test Plan Considerations</a>
      </li>
      <li>
        <a href="a_issues.html">Open and Closed Issues</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Transactions<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="domain-Y.html">go [domain-Y]</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
    </ul>
  </li>
</ul>      
